<h1> All Ads</h1>

<ul>
  <%= @ads[0].name %>
</ul>
<ul>
  <%= @ads[1].name %>
</ul>
<ul>
  <%= @ads[2].name %>
</ul>
<ul>
  <%= @ads[3].name %>
</ul>
<ul>
  <%= @ads[4].name %>
</ul>
<ul>
  <%= @ads[5].name %>
</ul>